<div class="this-bean">
<h2><%= @bean.name %></h2>
	<ul>
		<li>Origin: <%= @bean.origin %></li>
		<li>Estate: <%= @bean.estate %></li>
		<li>Variety: <%= @bean.variety %></li>
		<li>Processing Method: <%= @bean.processing %></li> 
		<li>Harvest Season: <%= @bean.season %></li>
		<li>Elevation: <%= @bean.elevation %> masl</li>
	</ul>
</div>
<div class="bean-flavors">
	<h2>Tasting Notes:</h2>
	<ul>
	<% @bean.flavors.each do |flav| %>
		<li class="<%= flav.category.gsub(/\s/, '') %>"><%= flav.note %>
		<% if @current_user.role == "admin" %>
			<%= link_to "Delete", beanformed_company_bean_flavor_path(@bean.company_id, @bean.id, flav.id), method: :delete %>
		<% end %>
		</li>
	<% end %>
	</ul>
</div>

<%= form_for new_beanformed_company_bean_flavor_path, html:{class: "form-inline"} do |f| %>
 	<div class="form-group">
	 	<%= label_tag "Flavor Category: " %>
		<%= f.select(:category) do %>
		  <% @categories.each do |c| %>
		    <%= content_tag(:option, c, value: c.gsub(/[\/\s]/, "")) %>
		  <% end %>
		<% end %>
	</div>

	<div class="form-group">
		<%= label_tag "Tasting Note: " %>
		<%= f.select :note do %>
		<% ["Hibiscus", "Rose Hips", "Lavender", "Magnolia", "Jasmine", "Honeysuckle", "Orange Blossom", "Other"].each do |c| %>
			<%= content_tag(:option, c, value: c) %>
		  <% end %>
		<% end %>
	</div>

	<div class="form-group" id="other-note" style="display: none">
		<%= label_tag "Other: " %>
		<%= f.text_field :other, class: "form-control" %>
	</div>
	<%= f.submit "Add Note", class: "btn btn-info" %>
<% end %>


<script type="text/javascript">
var flavors = {"Floral": ["Hibiscus", "Rose Hips", "Lavender", "Magnolia", "Jasmine", "Honeysuckle", "Orange Blossom", "Other"], "Citrus": ["Lemon", "Lime", "Grapefruit", "Clementine", "Tangerine", "Mandarin Orange", "Orange", "Zest", "Other"], "ApplePear": ["Red Apple", "Green Apple", "Pear", "Other"], "Melon": ["Watermelon", "Honeydew", "Cantaloupe", "Other"], "Grape": ["White Grape", "Green Grape", "Red Grape", "Concord Grape", "Other"], "TropicalFruit": ["Lychee", "Star Fruit", "Tamarind", "Passion Fruit", "Pineapple", "Mango", "Papaya", "Kiwi", "Banana", "Coconut", "Other"], "StoneFruit": ["Peach", "Nectarine", "Apricot", "Plum", "Cherry", "Black Cherry", "Other"], "Berry": ["Cranberry", "Raspberry", "Strawberry", "Blueberry", "Red Currant", "Black Currant", "Other"], "DriedFruit": ["Golden Raisin", "Raisin", "Dried Fig", "Dried Dates", "Prune", "Other"], "Chocolate": ["Cacao Nibs", "Baker's Chocolate", "Dark", "Bittersweet", "Milk", "Cocoa Powder", "Fudge", "Other"], "SweetandSugary": ["Vanilla", "Nougat", "Honey", "Butter", "Cream", "Marshmallow", "Sugar Cane", "Brown Sugar", "Caramel", "Maple Syrup", "Molasses", "Cola", "Toffee", "Other"], "Nutty": ["Walnut", "Peanut", "Cashew", "Pecan", "Hazelnut", "Almond", "Macademia", "Other"], "GrainCereal": ["Sweet Bread Pastry", "Granola", "Graham Cracker", "Rye", "Wheat", "Barley", "Fresh Bread", "Other"], "Roast": ["Toast", "Burnt Sugar", "Smokey", "Carbon", "Other"], "Spice": ["Black Pepper", "White Pepper", "Cinnamon", "Coriander", "Ginger", "Nutmeg", "Curry", "Licorice-Anise", "Clove", "Other"], "Savory": ["Leathery", "Meat-Like", "Soy Sauce", "Sundried Tomato", "Tomato", "Other"], "Earthy": ["Tobacco", "Fresh Wood", "Mushroom", "Cedar", "Soil", "Hay/Straw", "Other"], "Vegetal": ["Hops", "Green Tea", "Black Tea", "Grassy", "Snow Pea", "Sweet Pea", "Squash", "Leafy Greens", "Peppers", "Olive", "Other"], "Herbal": ["Lemongrass", "Dill", "Bergamot", "Mint", "Sage", "Rosemary", "Coriander", "Parsley", "Thyme", "Other"]};

 $(document).ready(function() {
    $('#_beanformed_companies_1_beans_11_flavors_new_category').change(function(){
    	$("#other-note").hide();
    	var chosen = $('#_beanformed_companies_1_beans_11_flavors_new_category').val();
    	var newOptions = flavors[chosen].map(function(flavor){ return "<option class='sr-only' value="+flavor+">"+flavor+"</option>";}).join("\n");
    	$("#_beanformed_companies_1_beans_11_flavors_new_note").html(newOptions);
    });

    $("#_beanformed_companies_1_beans_11_flavors_new_note").change(function(){
    	if ($("#_beanformed_companies_1_beans_11_flavors_new_note").val() == "Other") {
    		$("#other-note").show();
    	} else {
    		$("#other-note").hide();
    	}
    });
  });
</script>


