<br>
<% @companies.each do |company| %>
	<li><%= company.id %><%= link_to "#{company.name}'s Bean Offerings", beanformed_company_beans_path(company.id) %> -- Homepage: 
	<a href="<%= company.website %>"><%= company.website %></a></li>
	<% if @current_user.role == "admin" %>
		<%= link_to "Edit", edit_beanformed_company_path(company.id) %>
	    <%= link_to 'Delete', beanformed_company_path(company.id), :method => :delete, :confirm => "Are you sure you want to delete this coffee shop?" %>
	<% end %>
<% end %>



