<br>
<div id="container">
    <div class="col-lg-10 col-sm-10">
	<h2 style="text-align: center;">Add a New Bean to <%= @company.name %>:</h2>
	<h3 style="text-align: center;"><small>Add flavor notes in the next step</small></h3>

	<%= form_for :bean, url:{action: :create}, method: :post, html: {class: "form-horizontal"} do |f| %>

		<div class="form-group">
			<label class="col-sm-2 control-label">Name:</label>
			<div class="col-sm-10">
				<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
		  	</div>
	  	</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Origin:</label>
		 	<div class="col-sm-10">
				<%= f.text_field :origin, class: "form-control", placeholder: "Region/Country" %>
			</div>
		</div>

		<div class="form-group">
		<label class="col-sm-2 control-label">Estate:</label>
		<div class="col-sm-10">
		<%= f.text_field :estate, class: "form-control", placeholder: "Farm Name/Cooperative" %>
		  </div>
	  </div>

	  	<div class="form-group">
			<label class="col-sm-2 control-label">Variety:</label>
			<div class="col-sm-10">
				<%= f.text_field :variety, class: "form-control", placeholder: "If more than one, separate by them with a comma" %>
			</div>
	  	</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Processing:</label>
			<div class="col-sm-10">
				<%= f.text_field :processing, class: "form-control", placeholder: "What method did you use to get that green gold?" %>
			</div>
	  	</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Season:</label>
			<div class="col-sm-10">
				<%= f.text_field :season, class: "form-control", placeholder: "Harvest Time Frame" %>
			</div>
	  	</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Elevation:</label>
			<div class="col-sm-10">
				<%= f.text_field :elevation, class: "form-control", placeholder: "In Meters Above Sea Level (masl)" %>
			</div>
	  	</div>
	  	<%= f.hidden_field :company_id, value: params[:company_id] %>

		<div class="form-group">
	    	<div class="col-sm-offset-2 col-sm-10">
				<%= f.submit "Add Bean", class: "btn btn-info" %>
			</div>
	  	</div>
	<% end %> 
</div>
</div>




