<div id="container">
	<div class="row">
	<h2 id="bean-name"><%= @bean.name %></h2>
	<div class="each-bean col-lg-6 col-sm-6">
		<p><mark>Origin:</mark> <%= @bean.origin %></p>
		<p><mark>Estate:</mark> <%= @bean.estate %></p>
		<p><mark>Variety:</mark> <%= @bean.variety %></p>
		<p><mark>Processing Method:</mark> <%= @bean.processing %></p> 
		<p><mark>Harvest Season:</mark> <%= @bean.season %></p>
		<p><mark>Elevation:</mark> <%= @bean.elevation %> masl</p>
		<p><%= link_to "Back to Coffee Shop", beanformed_company_beans_path(@bean.company_id), class: "btn bean-btn" %></p>
		<% if admin? || @current_user.company_id.to_i == @bean.company_id %>
		<%= link_to "Edit", edit_beanformed_company_bean_path(@bean.company_id, @bean.id), class: "btn home-btn" %>
	    <%= link_to 'Delete', beanformed_company_bean_path(@bean.company_id, @bean.id), :method => :delete, :confirm => "Are you sure you want to delete this coffee bean profile?", class: "btn btn-danger" %>
	    <% end %>
	</div>

	<div id="svgDiv" class="col-lg-6 col-sm-6">
		<svg id="svgFlavors"></svg>
	</div>
	</div>
	<div class="row" style="height: 50px;">
	</div>
</div>

<%= render :partial => 'beanformed/beans/footer' %>
<script type="text/javascript">
	var increment = 2*Math.PI/19 // adjusted for amount of circles

	var svgWidth = window.innerWidth/3;
	var fontSize = "20px"
	
	var xCenter = svgWidth/2 // adjust this for size of viewport
	var yCenter  = svgWidth/2 // also adjust to viewport
	var radius = svgWidth/4  // adjust to viewport and margins

	var catArray = ["Floral", "Citrus", "Apple / Pear", "Melon", "Grape", "Tropical Fruit", "Stone Fruit", "Berry", "Dried Fruit", "Chocolate", "Sweet and Sugary", "Nutty", "Grain / Cereal", "Roast", "Spice", "Savory", "Earthy", "Vegetal", "Herbal"]
	var sampleData = [];
	var counter = 0;
	for (var theta = 0; theta < 2*Math.PI; theta+=increment) {
		var newX = xCenter+radius*Math.cos(theta);
		var newY = yCenter-radius*Math.sin(theta); // - to compensate for inverted y axis
		sampleData.push({"i": counter, "x": newX, "y": newY, "category": catArray[counter], "note": "", "color": "rgba(155,155,155,0.2)" });
		counter++
	}

	var beanFlavors = JSON.parse('<%= raw @flavors %>');
	for (var i = 0; i < beanFlavors.length; i++) {
		for (var h = 0; h < sampleData.length; h++) {
			if (sampleData[h]["category"] == beanFlavors[i].category && sampleData[h]["note"].length < 1) {
				sampleData[h]["category"] = beanFlavors[i].category
				sampleData[h]["note"] = beanFlavors[i].note
				sampleData[h]["color"] = beanFlavors[i].color
			} else if (sampleData[h]["category"] == beanFlavors[i].category && sampleData[h]["note"].length > 1) {
				sampleData[h]["note"] = sampleData[h]["note"] + ", " + beanFlavors[i].note
			}
		}
	}

    var smallRadius = radius*Math.sin(increment/2) + 7;

	var vis = d3.select("#svgFlavors");

	DrawCircle();
	function DrawCircle(){
	        vis.attr("height", svgWidth)
	        vis.attr("width", svgWidth);

	        var xRange = d3.scale.linear().range([smallRadius*3, svgWidth-50]).domain([d3.min(sampleData, function (d) {
	                            return (d.x);
	                        }),
	                        d3.max(sampleData, function (d) {
	                            return d.x;
	                        })]);
	        var yRange = d3.scale.linear().range([svgWidth-50, smallRadius*3]).domain([d3.min(sampleData, function (d) {
	                            return d.y;
	                        }),
	                        d3.max(sampleData, function (d) {
	                            return d.y;
	                        })]);
	      
	    	var innerCircle = vis.append("text");
	    innerCircle
	    	.attr("x", xCenter)
	    	.attr("y", yCenter)
	    	.text("")
	    	.attr("fill", "white")
	    	.style("text-anchor", "middle")
	    	.style("font-size", fontSize);

	        var circles = vis.selectAll("circle").data(sampleData);
	    circles
	        .enter()
	        .insert("circle")
	        .attr("class", "circle")
	        .attr("cx", function (d) { return xRange (d.x); })
	        .attr("cy", function (d) { return yRange (d.y); })
	        .attr("r", smallRadius)
	        .style("fill", function (d) { return d.color })
	        .on("mouseover", function (d) { 
				d3.select(this).attr("r", smallRadius*2).style("opacity", 0.3)
				d3.select("text").text(d.category).attr("fill", "black")
			})
			.on("mouseout", function() {
				d3.select(this).attr("r", smallRadius).style("opacity", 1)
				d3.select("text").attr("fill", "white")
			});

	   		var circleText = vis.selectAll("text.circleText").data(sampleData);
	   	circleText
	   		.enter()
	   		.append("text")
	   		.attr("x", function (d) { return xRange (d.x); })
	        .attr("y", function (d) { return yRange (d.y); })
	        .text(function (d) { return d.note })
	        .style("text-anchor", "middle")
	        // .call(wrap, smallRadius)
	        .attr('dy', '0.3em');



	};

// d3.select(window).on('resize', reSize); 


</script>

