<% if @roaster.errors.any? %>
	<div id="error-explanation">
	  <ul>
	  <% @roaster.errors.full_messages.each do |message| %>
	  <li class="flash-error"><%= message %></li>
	  <% end %>
	</ul>
	</div>
<% end %>
<% if session[:role] == "user" %>
<div id="container" style="margin: 0 20px;">
  <div class="col-lg-12 col-sm-12">
    <h3 style="color: #1B8184">Exising Cafe Registration</h3>
    <%= form_for :roaster, url:{action: :update}, method: :put, html:{class: "form-inline"} do |f| %>
        <div class="form-group">
	        <%= label_tag "Select Company: " %>
	        <%= f.select :company_id, options_from_collection_for_select(@companies, "id", "name"), class: "form-control" %>
        </div>
        <div class="form-group">
    		<%= label_tag "Number To Reach You At: " %>
        	<%= f.telephone_field :phone, class: "form-control", placeholder: "Just Digits of Your /Company Phone Number" %>
        </div>
        <%= f.hidden_field :role, value: "pending" %>
        <%= f.submit "Submit", class: "btn btn-info" %>
    <% end %>
</div>
</div>
<% end %>

<% if admin? %>
<div id="container" style="margin: 0 20px;">
	<h3><%= @roaster.name %></h3>
	<p>Current Role: <%= @roaster.role %></p><br>
	<div class="col-lg-12 col-sm-12">
		<%= form_for :roaster, url:{action: :update}, method: :put, html:{class: "form-inline"} do |f| %>
			<div class="form-group">
			<%= label_tag "Change status to: " %>
			<%= f.text_field :role, value: "roaster", class: "form-control" %> <br>
			</div>
			<%= f.submit "Submit", class: "btn btn-info" %>
		<% end %>
	</div>
</div>
<% end %>
