<% if @roaster.errors.any? %>
	<div id="error-explanation">
	  <ul>
	  <% @roaster.errors.full_messages.each do |message| %>
	  <li class="flash-error"><%= message %></li>
	  <% end %>
	</ul>
	</div>
<% end %>

<h3><%= @roaster.name %>'s current role: <%= @roaster.role %></h3>

<%= form_for :roaster, url:{action: :update}, method: :put, html:{class: "form-inline"} do |f| %>
	<div class="form-group">
	<%= label_tag "Change status to: " %>
	<%= f.text_field :role, value: "roaster", class: "form-control" %> <br>
	</div>
	<%= f.submit "Submit", class: "btn btn-info" %>
<% end %>



